/* Larger ****************************/
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.hero picture {
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
    position: absolute;
    font-size: 1.5rem;
    top: 10%;
    left: 10px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;

}
/* FORM *******************************/

form fieldset {
    margin: 2rem 0;
    border-top: 10px groove  rgb(33, 46, 39);
    border-bottom: 10px ridge rgb(33, 46, 39);
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 60rem;
}

form legend {
    color: white;
    background-color: rgb(33, 46, 39);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    border: 2px solid rgb(33, 46, 39);
    border-radius: 5px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: rgb(204, 21, 21);
    font-size: 1rem;
}

form label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid rgb(33, 46, 39);
    border-radius: 5px;
    padding: .75rem;
    color: rgb(33, 46, 39);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: rgb(33, 46, 39);
}

form input.submitBtn {
    border: none;
    background-color: rgb(204, 21, 21);
    color: white;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: 6px solid rgb(204, 21, 21);
}

form label.top input:required:valid {
    border-left: 6px solid green;
}

div fieldset {
    margin: 2rem 0;
    border-top: 10px groove  rgb(33, 46, 39);
    border-bottom: 10px ridge rgb(33, 46, 39);
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 30rem;
}

div fieldset legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    border: 2px solid rgb(33, 46, 39);
    border-radius: 5px;
}

main.join {
    display: grid;
    grid-template-columns: 0fr 2fr 1fr 0fr;
}

/* mobile *****************************/
header {
    background-color: rgb(33, 46, 39);
    max-width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 3rem;
}

footer {
    background-color: rgb(33, 46, 39);
    max-width: 100%;
    color: white;
    text-align: center;

}

.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent h2 {
    background-color: rgb(33, 46, 39);
    border-bottom: 3px solid rgb(204, 21, 21);
    border-radius: 5px;
    color: white;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.parent ul {
    padding: 0px;
}

maind {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar {
    margin: 1rem 2vw;
    height: 100%;
    width: 300px;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

.sidebar section {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.sidebar h2 {
    background-color: rgb(33, 46, 39);
    border-bottom: 3px solid rgb(204, 21, 21);
    border-radius: 5px;
    color: white;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.sidebar ul {
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    place-items: center;
    margin: 1rem 2vw;
    height: 100%;
    width: 500px;
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

.grid-item1 {
    box-shadow: 0 0 50px #333;
}

.grid-item2 {
    border-radius: 15px 150px;
}

.grid-item3 {
    opacity: .5;
}

.grid-item4 {
    filter: saturate(10%);
}

.grid-item5 {
    filter: blur(1px) grayscale(80%);
}

.grid-item6 {
    mix-blend-mode: darken;
}

.card2 {
    text-align: center;
}

header, main, iframe {
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    border-bottom-style: solid;
    border-color: rgb(204, 21, 21);
    text-align: center;
    padding: 20px;
}

nav {
    background-color: rgb(33, 46, 39);
    font-size: 1.5rem;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255,255,255,0.2);
}

nav .active {
    background-color: rgba(0,0,0,0.3);
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}
.navigation {
	display: flex;
    border-radius: 10px;
	flex-direction: column;
	list-style: none;
	background-color: white;
	color: white;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: black;
}
.navigation li a:hover {
	background-color: #bbb;
    border-radius: 10px;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "";
}

#mode {
	position: absolute;
	top: 4rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
    background-color: whitesmoke;
    border-radius: 5px;
}
